<label for="first_name">First Name</label>
<input type="text" ng-model="employee.first_name" placeholder="Employee first name (required)"/>

<label for="last_name">Last Name</label>
<input type="text" ng-model="employee.last_name" placeholder="Employee last name (require)"/>

<label for="department">Department</label>
<input type="text" ng-model="employee.department" placeholder="Employee's department"/>

<label for="job_title">Job Title</label>
<input type="text" ng-model="employee.job_title" placeholder="Employee's job title"/>

<label for="date_of_hire">Date of Hire</label>
<input type="text" ng-model="employee.date_of_hire" placeholder="Employee's date of hire"/>

<label for="supervisor_first_name">Supervisor's First Name</label>
<input type="text" ng-model="employee.supervisor_first_name" placeholder="Supervisor's first name"/>

<label for="supervisor_last_name">Supervisor's Last Name</label>
<input type="text" ng-model="employee.supervisor_last_name" placeholder="Supervisor's last name"/>

<input type="submit" value="Save"/>
