<label for="description">Description</label>
<input type="text" ng-model="incident.name" placeholder="Incident description (required)"/>

<label for="date_of_incident">Date of Incident</label>
<input type="text" ng-model="incident.date_of_incident" placeholder="When did the incident happen?"/>

<label for="date_reported">Date Reported</label>
<input type="text" ng-model="incident.date_reported" placeholder="When was the incident reported?"/>

<label for="location_of_incident">Location of Incident</label>
<input type="text" ng-model="incident.location_of_incident" placeholder="Where did the incident happen?"/>

<label for="type_of_incident">Type of Incident</label>
<input type="text" ng-model="incident.type_of_incident" placeholder="What type of incident?"/>

<label for="property_damage">Property Damage</label>
<input type="text" ng-model="incident.property_damage" placeholder="Was there property damage?"/>

<label for="description_of_damage">Description of Damage</label>
<input type="text" ng-model="incident.description_of_damage" placeholder="Describe the damage"/>

<label for="suggested_corrective_action">Suggested Corrective Action</label>
<input type="text" ng-model="incident.suggested_corrective_action" placeholder="How can this be prevented in the future?"/>

<input type="submit" value="Save"/>
