<table>
    <thead>
        <tr>
            <td><h3>All Incidents</h3></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="incident in incidents">
            <td>{{incident.description}}</td>
            <td>{{incident.date_of_incident}}</td>
            <td>{{incident.date_reported}}</td>
            <td>{{incident.location_of_incident}}</td>
            <td>{{incident.type_of_incident}}</td>
            <td>{{incident.suggested_corrective_action}}</td>
            <td>{{incident.property_damage}}</td>
            <td>{{incident.description_of_damage}}</td>
        </tr>
    </tbody>
</table>
